<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="icon" href="https://img.icons8.com/cotton/64/gallery.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/1222/">
            <img height="48" src="https://img.icons8.com/cotton/64/gallery.png" alt="gallery">
            Gallery
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="li-User">
                <span class="User"></span>
            </li>
            <li class="nav-item active previousPage">
                <a href="<%= ref !== '' ?  ref+'/' : '/1222/' %>" class="nav-link"><%= ref !== '' ?  'Previous Page' : '' %></a>
            </li>
            <li>
                <form action="" method="post" enctype="multipart/form-data" id="upload">
                    <input type="file" name="media" id="media" multiple="multiple" class="">
                    <label type="button" for="media" class="btn btn-secondary nav-btn">Choose File</label>
                    <input type="submit" value="upload" class="btn btn-secondary nav-btn">
                </form>
            </li>
            <li>
                <form action="/logout/" method="post" id="logout">
                    <input type="submit" value="logout" class="btn btn-secondary nav-btn" id="logout-btn">
                </form>     
            </li>
          </ul>
        </div>
      </nav>
    <br>
    <div class="container">
        <div class="row">
            <% dirs.forEach(dir => { %>
                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 folder">
                    <a href='/1222/<%= dir%>'  class="folder-a">
                        <figure class="text-center img-thumbnail dir_figure">
                            <span class="folder-name"><%= decodeURI(dir.slice(0, -1)) %></span>
                        </figure>
                    </a>
                </div>       
            <% })%>
        </div>
        <hr>
        <div class="row">
            <%videos.forEach(video => { %>
                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 d-flex justify-content-center video-container component">
                    <video class="img-thumbnail" preload ="true" controls>
                        <source src="/media/<%= video%>#t=0.1" type="video/mp4">
                    </video>
                </div>

            <% }) %> 
        </div>
        <hr>
        <div class="row">
            <% pics.forEach(pic => { %>  
                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 pic-div component">
                    <img src='/media/<%= pic%>' class="img-thumbnail Thumbnail">
                </div>
            <% })%>
        </div>
        <hr>
    </div>
    <div class="pic_area">
        <div id="prev" class="go_page"></div>
        <div id="next" class="go_page"></div>
        <div id="fade"></div>
    </div>
    <script type="text/javascript" src="/javascripts/zoom.js"></script>
    <script type="text/javascript" src="/javascripts/uploadURL.js"></script>
    <script type="text/javascript" src="/javascripts/uploadAlert.js"></script>
    <script type="text/javascript" src="/javascripts/delete.js"></script>
    <script type="text/javascript" src="/javascripts/cookieListener.js"></script>
    <script type="text/javascript" src="/javascripts/showUser.js"></script>

</body>
</html>